{% extends "layout.html.twig" %}

{% block meta %}
    {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "urls": urls|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": request.defaultLocale|default('de')
    } %}
{% endblock %}

{% block style %}
    <link href="{{ asset('siteassets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('siteassets/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ asset('siteassets/css/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ asset('siteassets/css/creative.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 property="title">{{ content.title }}</h1>

    <div property="article">
        APOORVA one page{{ content.article|raw }}
    </div>

    <div class="row">
        {{ content.snippet_services[0]['description']|raw }}
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% for block in content.blocks %}
                <p>
                    Title: {{ block.article|raw }}
                </p>
                <p>
                    Images:
                </p>
                {% for image in block.images %}
                    <img src="{{ image.url }}" class="img-responsive" style="max-height: 200px">
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        {{ content.snippet_contact[0]['description']|raw }}
    </div>
{% endblock %}